@import 'variables.scss';

// header 
#span-header {
    background-color: $brand-color;
    text-align: center;
    padding: 15px 58px;
}

#title-header {
    text-align: center;
    padding: 6px 127px;
}

#h1_header {
    margin: 6px 0;
}


// main
.main-bg {
    width: 100%;
    background: url(/images/wallpaper.jpeg) no-repeat center;
    background-size: cover;
    padding: 122px 37px 122px 20px;
}


.main-content h2, .main-content p {
    text-align: left;
}

#main-description {
    margin-top: 12px;
}