// brand-color
$brand-color: #00AEFF;

// dark-colours
$dark-10:#181818;
$dark-20: #474747;
$dark-30: #EBE9EA;
$dark-40: #F9F9F9; 

// system colours
$message: #2962FF;
$success: #0BB07B;
$warning: #FFCE52;
$error: #F03D3D;
$information: #E0E0E0;

#span_header {
    font-size: 16px;
    font-weight: 500;
    color: $dark-10;
}

#h1_header {
    font-size: 24px;
    font-weight: 600;
    color: $dark-10;
}

.main-content h2 {
    font-size: 28px;
    font-weight: 700;
    color: $dark-40;
}

#main-description {
    font-size: 16px;
    font-weight: 600;
    color: $dark-40;
    line-height: 180%;
}