@import 'variables.scss';
@import 'home.scss';

* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1444px;
    margin: 0 auto;
}

span, input::placeholder, button {
    font-family: 'Lato', sans-serif;
}

#h1-content, #h2-content {
    font-family: 'Merriweather', sans-serif;
}

