body {
    overflow-y: hidden;
}

// header
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 25px 26px 25px;
}

nav {
    display: flex;
    align-items: center;
    gap: 5px;
}

nav a:after {
    display: block;
    content: '';
    border-bottom: 2px solid #5162C1;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

nav a:hover:after {
    transform: scaleX(1);
} 

nav a:hover {
    transform: translate(-2px, -2px);
    transition: transform .4s;
}


// main
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#description {
    margin: 55px 0 0 0;
}

#author {
    margin: 6px 0 16px 0;
}


#btn1 {
    transform: skew(-10deg);
    transition-duration: 0.2s;
    margin: 58px 0 0 0;
    display: flex;
    align-items: center;
    padding: 8px 33px;
    gap: 10px;
}

#btn2 {
    display: none;
}


// responsividade
@media (min-width: 425px) {
    nav {
        gap: 15px;
    }
}

@media (min-width: 768px) {
    nav {
        gap: 25px;
    }
}

@media (min-width: 1024px) {
    .container {
        padding: 42px 85px;
    }

    .hero {
        flex-direction: row-reverse;
        justify-content: flex-start;
        gap: 5px;
    }

    #description {
        text-align: justify;
        max-width: 90%;
    }

    .wallpaper img {
        width: 450px;
    }
}

@media (min-width: 1440px) {
    .container {
        padding: 52px 165px;
    }

    .wallpaper img {
        width: 500px;
    }

    #btn2 {
        display: inline-block;
        transform: skew(-10deg);
        transition-duration: 0.2s;
        margin: 58px 0 0 0;
        display: flex;
        align-items: center;
        padding: 8px 40px;
        gap: 10px;
    }

    .btns {
        display: flex;
        gap: 10px;
    }
}