$dark-10: #FFFF;
$brand-color: #C2AACE;

* {
    color: $dark-10;
}

button {
    cursor: pointer;
}

#author {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.74px;
}

#title {
    font-size: 56px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 109%;
}

#description {
    font-size: 14px;
    font-weight: 400;
    line-height: 25.2px;
}

#btn1 {
    background-color: $brand-color;
    border: none;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    border-radius: 3px;
}

#btn1:hover {
    transform: skew(-10deg) translate(-3px, -3px);
    box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.336);
}