
// header
.header {
    padding: 55px 0 88px 0;
}

.content-info-header {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#btn-header {
    margin: 14px 0 120px 0;
}

.content-img-header {
    display: flex;
    justify-content: center;
}

#img-header {
    max-width: 100%;
}


// main
.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.card-item {
    display: flex;
    flex-direction: column;
    fill: #FFF;
filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.10));
}

.card {
    min-width: 374px;
    height: 222px;
}

.card-content {
    padding: 24px 31px 31px 33px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}


// form
.form {
    padding: 83px 0 56px 0;
    display: flex;
    flex-direction: column;
}

#h2-form {
    margin: 0 0 32px 0;
}

input, #message {
    padding: 20px 240px 18px 11px;
    border-radius: 5px;
    border: none;
}

.inputs-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

textarea {
    margin: 0 0 45px 0;
}