@import 'home.scss';

$brand-color: #6C63FF;
$brand-color-light: #D7D4FF;

$dark10: #2A2A2A;
$dark20: #555555;
$dark30: #F9F9F9;
$dark40: #FFFFFF;

$color-card-1: #FF6363;
$color-card-2: #63ECFF;
$color-card-3: #F363FF;
$color-card-4: #63FF73;
$color-card-5: #FFDD63;
$color-card-6: #6663FF;

body {
    background-color: $dark30;
}

header {
    background-color: $brand-color-light;
}

#h1-header {
    font-size: 32px;
    color: $dark10;
    font-weight: 400;
    line-height: 47px;
    width: 70%;
}

#span-header {
    font-size: 18px;
    color: $dark20;
    font-weight: 400;
    line-height: 32px;
}

#btn-header {
    padding: 14px 50px;
    max-width: 155px;
    font-size: 20px;
    font-weight: 700;
    color: $dark40;
    background-color: $brand-color;
    border: none;
    border-radius: 5px;
}

.card-item {
    background-color: $dark40;
}

.color1 {
    background-color: $color-card-1;
}

.color2 {
    background-color: $color-card-2;
}

.color3 {
    background-color: $color-card-3;
}

.color4 {
    background-color: $color-card-4;
}

.color5 {
    background-color: $color-card-5;
}

.color6 {
    background-color: $color-card-6;
}

.h3-card {
    font-size: 24px;
    color: $dark10;
    font-weight: 700;
}

.span-card {
    font-size: 18px;
    color: $dark20;
    font-weight: 400;
    line-height: 30px;
}

form {
    background-color: $brand-color-light;
}

#h2-form {
    font-size: 32px;
    color: $dark10;
    font-weight: 400;
    text-align: center;
}

input::placeholder, textarea::placeholder {
    font-size: 18px;
    color: #6E7275BD;
    font-weight: 400;
}

#btn-form {
    max-width: 471px;
    padding: 13px 0;
    background-color: $brand-color;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: $dark40;
}